@model WebApplication2.Models.Player
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <title>Ladder quest</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/SnakeLadder.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <style>
        body {
            background: url(https://s-media-cache-ak0.pinimg.com/originals/03/c3/ab/03c3ab693eedcd84c1119a947974cb93.jpg) no-repeat;
            float: left;
            height: 50px;
        }

        .all {
            display: flex;
            position: initial;
        }

        h1 {
            text-align: center;
            color: dimgrey;
        }

        .middle_buttons {
            display: flow-root;
        }

        game {
            position: fixed;
            top: 50%;
            left: 43%;
            display: inline-block;
            padding: 1.2em 4.2em;
            border: 0.1em solid #FFFFFF;
            margin: 0 0.3em 0.3em 0;
            border-radius: 0.12em;
            box-sizing: border-box;
            text-decoration: none;
            font-family: 'Roboto',sans-serif;
            font-weight: 300;
            background-color: #bddfa1;
            text-align: center;
            transition: all 0.2s;
            font-weight: bold;
            color: white;
        }

            game:hover {
                color: white;
                border-color: #DDDDDD;
            }

            game:active {
                color: #BBBBBB;
                border-color: #BBBBBB;
            }

        :root {
            --bg: #1a1e24;
            --color: coral;
            --font: Montserrat, Roboto, Helvetica, Arial, sans-serif;
        }

        .wrapper {
            filter: url('#goo');
        }

        .exit {
            display: inline-block;
            text-align: center;
            background: var(--color);
            color: var(--bg);
            padding: 0.18em 1.32em 1.03em;
            line-height: 1;
            border-radius: 1em;
            position: relative;
            min-width: 5.23em;
            text-decoration: none;
            font-family: Marker Felt, fantasy;
            font-size: 1.25rem;
            right: -105%;
            height: 8px;
        }

            .exit:before,
            .exit:after {
                width: 4.4em;
                height: 2.45em;
                position: absolute;
                content: "";
                display: inline-block;
                background: var(--color);
                border-radius: 50%;
                transition: transform 1s ease;
                transform: scale(0);
                z-index: -1;
            }

            .exit:before {
                top: -25%;
                left: 20%;
            }

            .exit:after {
                bottom: -25%;
                right: 20%;
            }

            .exit:hover:before,
            .exit:hover:after {
                transform: none;
            }
    </style>
</head>
<body>


    <div id="middle" class="overlay">
        <div class="popup">
            <h1>
                If you want to go up on the ladder you need to answer a question,
                are you ready?
            </h1>
            <div class="middle_buttons">
                <h2 id="game" href="#">
                    Let's go!
                </h2>
                <p id="question" style="font-family: cursive; font-size: larger;"></p>
                <div class="buttons">
                    <input id="answer" type="text" name="question1">
                    <input id="check" type="button" value="check">
                </div>
            </div>
        </div>
    </div>

    <script>
       
        var correct = 0;
        var finish = false;
        let modal_middle = document.getElementById("middle");
        if (@Model.Score < 100) {
            q1 = "Variable expressions are mathematical statements that contain:\nA.Only numbers \nB.Only letters \nC.Numbers and letters \nD.One letter and no numbers";
            q2 = "Identify the commutative property:\n A. A + b = a + b \nB.A + b = b + a \nC.B + a = a + B \nD.A + b = 0";
            q3 = "What value will return to the operating system upon the successful completion of a program ?\n A. - 1 \nB. 1 \nC. 0 \nD.Programs do not return a value";
            q4 = "The keyword ‘break’ cannot be simply used within _________ \n a) do -while \nb) if-else \nc) for \nd) while ";
            q5 = "Which keyword is used to come out of a loop only for that iteration?\n a) break \nb) continue \nc) return \nd) none of the mentioned ";
            q6 = "Which loop is most suitable to first perform the operation and then test the condition ? \na) for loop \nb) while loop \nc) do -while loop \nd) none of the mentioned ";
            q7 = "Which of the following operator has the highest precedence in the following? \na) () \nb) sizeof \nc) * \nd) + ";
            q8 = "Which is correct with respect to the size of the data types? \na) char > int > float \n b) int > char > float \nc) char < int < double \nd) double > char > int";
            q9 = "Which of the following declarations is not supported by C? \na) String str; \nb) char * str; \nc) float str = 3e2; \nd) Both String str; & float str = 3e2;";
            q10 = "Pick the operator that associate from the right? \nA. ? : \nB. + = \nC. = \nD.All";

            a1 = "C";
            a2 = "B";
            a3 = "C";
            a4 = "c";
            a5 = "b";
            a6 = "c";
            a7 = "a";
            a8 = "c";
            a9 = "a";
            a10 = "D";
        }
        else if (@Model.Score > 100 && @Model.Score < 200) {
            q1 = "Which of following is not accepted in C? \na) static a = 10; //static as \nb) static int func(int); //parameter as static  \nc) static static int a; //a static variable prefixed with static  \nd) all of the mentioned";
            q2 = "Which of the following cannot be static in C? \na) Variables \nb) Functions \nc) Structures \nd) None of the mentioned";
            q3 = "Which type of conversion is NOT accepted? \na) From char to int \nb) From float to char pointer \nc) From negative int to char \nd) From double to char";
            q4 = "When do you need to use type-conversions? \na) The value to be stored is beyond the max limit \nb) The value to be stored is in a form not supported by that data type \nc) To reduce the memory in use, relevant to the value \nd) All of the mentioned";
            q5 = "Choose the correct statement \na) Size of array must be known at compile time \nb) String constants can be concatenated at compile time \nc) Constant expressions are evaluated at compile time \nd)All";
            q6 = "What will be the value of var for the following C statement? var = strcmp('Hello", "World'); \na) -1 \nb) 0 \nc) 1 \nd) strcmp has void return -type";
            q7 = "Which function will you choose to join two words? \na) strcpy() \nb) strcat() \nc) strncon() \nd) memcon()";
            q8 = "How many bits are in a byte?  \na) 1 \nb) 2 \nc) 4 \nd) 8";
            q9 = "Functions in C are always _________ \na) Internal \nb) External \nc) Both Internal and External \nd) External and Internal are not valid terms for functions";
            q10 = "Which of the following declaration is illegal? \na) char * str = “Best C programming classes by Sanfoundry”; \nb) char str[] = “Best C programming classes by Sanfoundry”; \nc) char str[20] = “Best C programming classes by Sanfoundry”; \nd) char[] str = “Best C programming classes by Sanfoundry”;";

            a1 = "c";
            a2 = "d";
            a3 = "b";
            a4 = "d";
            a5 = "d";
            a6 = "a";
            a7 = "b";
            a8 = "d";
            a9 = "b";
            a10 = "d";

        }
        else if (@Model.Score > 200) {
            q1 = "What does the following declaration mean? int (*ptr)[10]; \nA. Ptr is array of pointers to 10 integers \nB. Ptr is a pointer to an array of 10 integers \nC. Ptr is an array of 10 integers \nD. Ptr is an pointer to array";
            q2 = "Which bitwise operator is suitable for checking whether a particular bit is on or off? \nA. && operator \nB. & operator \nC. || operator \nD. !operator";
            q3 = "Which type of conversion is NOT accepted? \na) From char to int \nb) From float to char pointer \nc) From negative int to char \nd) From double to char";
            q4 = "When do you need to use type-conversions? \na) The value to be stored is beyond the max limit \nb) The value to be stored is in a form not supported by that data type \nc) To reduce the memory in use, relevant to the value \nd) All of the mentioned";
            q5 = "Choose the correct statement \na) Size of array must be known at compile time \nb) String constants can be concatenated at compile time \nc) Constant expressions are evaluated at compile time \nd)All";
            q6 = "What will be the value of var for the following C statement? var = strcmp('Hello", "World'); \na) -1 \nb) 0 \nc) 1 \nd) strcmp has void return -type";
            q7 = "Which function will you choose to join two words? \na) strcpy() \nb) strcat() \nc) strncon() \nd) memcon()";
            q8 = "How many bits are in a byte?  \na) 1 \nb) 2 \nc) 4 \nd) 8";
            q9 = "Functions in C are always _________ \na) Internal \nb) External \nc) Both Internal and External \nd) External and Internal are not valid terms for functions";
            q10 = "Which of the following declaration is illegal? \na) char * str = “Best C programming classes by Sanfoundry”; \nb) char str[] = “Best C programming classes by Sanfoundry”; \nc) char str[20] = “Best C programming classes by Sanfoundry”; \nd) char[] str = “Best C programming classes by Sanfoundry”;";


            a1 = "C";
            a2 = "B";
            a3 = "b";
            a4 = "d";
            a5 = "d";
            a6 = "a";
            a7 = "b";
            a8 = "d";
            a9 = "b";
            a10 = "d";

        }
        var questions = [q1, q2, q3, q4, q5, q6, q7, q8, q9, q10];
        var answers = [a1, a2, a3, a4, a5, a6, a7, a8, a9, a10];
        var ques = document.getElementById("question");

        $("#check").on("click", function () {
            modal_middle.classList.remove("show");
            finish = true;
            window.location = "/../First/SnakesAndLadders";
            return;
        });
        function check() {

            var answer = document.getElementById("answer");
            if (answer.value === answers[@Model.SNLquestNum]) {
                correct = 1;
                var URl = '@Url.Action("snakesLadders_Qresult", "First")';

                        $.ajax({
                            url: URl,
                            data: { id: @Model.SNLnew }
                        });
            }
            else {
                var URl = '@Url.Action("snakesLadders_Qresult", "First")';

                        $.ajax({
                            url: URl,
                            data: { id: @Model.SNLold }
                        });
            }

        }
        modal_middle.classList.add("show");
        ques.innerText = questions[@Model.SNLquestNum];
        check();

    </script>
</body>
</html>
